@charset "utf-8";

@font-face {
  font-family: 'satellite';
  src: url("font/satellite-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  color: $font-color;
  font-family : $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-align: justify;
  word-break: break-all;
  background: $background-color;
}
h1 {
  font-size: 2rem;
  font-weight: normal;
}
h2 {
  @extend h1;
  font-size: 1.8rem;
}
h3 {
  @extend h1;
  font-size: 1.6rem;
}
h4 {
  @extend h1;
  font-size: 1.4rem;
}
h5 {
  @extend h1;
  font-size: 1.2rem;
}
p {
  margin: 1em 0;
  line-height: 1.8;
}
a {
  color: $anker-color;
  text-decoration: none;
}
blockquote {
  margin: 0;
  margin-left: 1em;
  padding: 10px;

  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
