@charset "utf-8";

@font-face {
  font-family: 'satellite';
  src: url("font/satellite-webfont.eot");
  src: url("font/satellite-webfont.eot?#iefix") format("embedded-opentype"),
       url("font/satellite-webfont.woff2") format("woff2"),
       url("font/satellite-webfont.woff") format("woff"),
       url("font/satellite-webfont.ttf") format("truetype"),
       url("font/satellite-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  color: $font-color;
  font-family : $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-align: justify;
  word-break: break-all;
  background: #fff;
  background: url(image/geometry.png);
}
p {
  margin: 1em 0;
  font-size: 1rem;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}