@charset "utf-8";

.logo {
  display: block;
  margin: 5px;
  font-size: 32px;
  font-weight: 300;
  line-height: 1;
  float: left;

  &-img {
    margin-right: 7px;
    float: left;
  }
  a {
    display: block;
    font-family: satellite;
    color: $font-color;
  }
}
.search {
  margin-top: 8px;
  float: right;

  &-form {
    position: relative;
  }
    &-text {
      box-sizing: border-box;
      width: 200px;
      height: 28px;
      padding: 2px;
      padding-right: 30px;
      font-size: 1rem;
      border: 1px solid #d0d0d0;
      border-radius: 5px;
    }
    &-submit {
      position: absolute;
      top: 1px;
      right: 1px;
      display: block;
      width: 26px;
      height: 26px;
      background: none;
      border: none;
      border-radius: 5px;
    }
}
.cover {
  position: relative;
  width: 100%;
  max-height: 1426px;
  height: auto;
  background: url(images/cover.jpg) no-repeat;
  background-size: cover;

  &::before {
    content: "";
    display: block;
    padding-top: 33.3333%;
    background: rgba(#000, .3);
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h2 {
    color: #fff;
    font-size: 4rem;
    text-align: center;
  }
  p {
    color: #fff;
    font-size: 2rem;
    text-align: center;
  }
}

.navi {
  @include clearfix;
  margin: 0;
  padding: 0;

  &-list {
    margin: 0 .5em;
    float: left;
    font-size: .95rem;
    list-style: none;

    a {
      color: $background-color;
    }
  }
}
.copyright {
  display: block;
  color: #ddd;
  text-align: center;
}
