@charset "utf-8";

$font-color: #333;
$font-size: 16px;
$line-height: 1.6;
$font-family: Arial, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

$anker-color: #2980b9;
$border-color: #ddd;
$background-color: #fff;

$tablet-size: 720px;
$smartphone-size: 480px;
