footer#footer
  div.container
    nav
      ul.navi
        li.navi-list
          a(href="#") About
        li.navi-list
          a(href="#") Works
        li.navi-list
          a(href="#") Contact
    small.copyright Copyright © 2014-2016 @koluku All Rights Reserved.
