header#header
  div.container
    h1.logo
      a(href="#") koluku
    div.search
      form.search-form
        input(type="text").search-text
        button(type="submit").search-submit
          i.fa.fa-search
